.skills .inner-content {
    padding-bottom: 50px;
}

.skills-description {
    max-width: 700px;
    width: 100%;
    margin-bottom: 50px;
}

.skills-description h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.skills-description p {
    font-size: var(--normal-font-size);
}

.skills-info {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 21px;
    margin-bottom: 20px;
}

.skills-info>div, .education {
    min-width: 320px;
    width: 32%;
}

.education .label {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    padding: 5px 15px;
    border-radius: 5px;
    background: var(--second-color);
    display: inline-block;
}

.education-list .item {
    padding: 20px;
    margin-top: 15px;
    border-radius: 6px;
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    border-bottom: 3px solid var(--second-color);
    transition: .3s linear;
}

.education .bar {
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    margin-top: 15px;
    padding: 18px;
    border-radius: 6px;
    transition: .3s linear;
}

.work-exp {
    width: 100%;
    max-width: 100%;
}

.work-exp .work-exp-title {
    font-size: 30px;
    margin-bottom: 50px;
}

.work-exp .experience-card {
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    min-width: 320px;
    width: 32%;
    padding: 35px;
    transition: .3s linear;
}

.upper h3 {
    font-size: 22px;
    font-weight: 700;
}

.upper h5 {
    font-weight: 500;
    font-style: italic;
    font-size: var(--small-font-size);
}

.upper span {
    color: var(--third-color);
}

.experience-card .hr {
    width: 100%;
    height: 2px;
    margin: 10px 0 22px;
    background: var(--liner-color);
}

.experience-card p {
    margin-top: 22px;
}

.education-list p {
    color: var(--third-color);
}

.info span {
    font-weight: 500;
}

.education .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: var(--small-font-size);
}